body {
    background-image: url("imagens/fundo.jpg");
}

p {
    font-size: 18px;
    text-align: justify;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-style: oblique;
    text-align: center;
    background-color: blue;
    color: white;
}

.link {
    text-align:center;
    font-size: 20px;
}

.subtitle {
    border:2px solid Tomato;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: oblique;
    text-align: center;
}

.subtitle-secundary {
    font-family: 'Times New Roman', Times, serif;
    font-style:inherit;
    text-align: justify;
}

.introduction {
    text-align:left;
    font-size: 18px;
}